SECRET_KEY=your-secret-key-here

DATABASE_URL=postgresql://user:pass@localhost:5432/probum

BOT1_TOKEN=8725909088:AAGQMNr-9RVQB7hWmePCLmm0GwaGuzOVy-A
BOT2_TOKEN=8185027087:AAH1JQJKtlWy_oQpAvqvHEsFIVOK3ScYBc

TELEGRAM_GROUP_ID=-1003814625223

TIMEZONE=America/Sao_Paulo